################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hanabi - C++/.vs/Hanabi/v16/Browse.VC.opendb
/Sopa de letras/.vs/Sopa de letras/v16/Browse.VC.opendb
